<html><head>
    <title>Projet BOIS</title>
    </head>
    <body>
    <h1>Trajet</h1>
    <h2>Liste des voitures</h2>
    <table>
        <tr><th>Marque</th><th>Modele</th><th>Autonomie</th><th>Charge</th><th>Depart</th><th>arriver</th></tr>
        <tr>
            <th>{{voiture["Marque"]}}</th>
            <th>{{voiture["Modele"]}}</th>
            <th>{{voiture["Autonomie"]}}</th>
            <th>{{voiture["Charge"]}}</th>
            <th>{{voiture["adresse_1"]}}</th>
            <th>{{voiture["adresse_2"]}}</th>
        </tr>
        <tr></tr>
        {{time}}
        </table>
        <table>
        {% for add in trajets %}
        <tr>
            <th>{{ add }}</th>
        <tr>
        {% endfor %}
        </table>
    <footer></footer>
    </body></html>