<html><head>
    <title>POC supervision BCCB</title>
</head>
<body>
    <h1>Créer une requête</h1>
    <form method="post" action="/creer_requete">
        Nom de la requête: <input name="nom_rqt" type="text" required></input><br>
        OID: <input name="OID" type="text" required></input>
        <button type="submit">Créer requete</button>
    </form>
     <table>
    <tr><th>NOM</th><th>MIB</th><th></th></tr>
    {% for rqts in rqt %}
        <tr>
            <th>{{ rqts[1] }}</th>
            <th>{{ rqts[2] }}</th>
            <th>
                <form method="post" action="/del_requete">
                    <input value={{rqts[0]}} name="id_rqt" hidden></input>
                    <button type="submit">X</button>
                </form>
            </th>
        </tr>
    {% endfor %}
    </table>
    <footer><form method="post" action="/">
        <button type="submit">Accueil</button>
    </form></footer>
</body></html>