<html><head>
    <title>POC supervision BCCB</title>
</head>
<body>
    <h1>Information de l'équipement {{nom_modele}}</h1>    
    <form method="post" action="/associer_mdl_rqt">
    <input value={{ id_mdl }} name="id_mdl" hidden></input>       
        Requête: 
        <select name="requete">
            {% for rqts in requete %}        
                <option value="{{ rqts[0] }}">{{ rqts[1] }}</option>
            {% endfor %}
        </select>      
        <br>        
        <button type="submit">Associer</button>
    </form>
    <table>
        <tr><th>NOM</th><th>MIB</th><th></th></tr>
        {% for asso in joins %}
            <tr>
                <th>WESH</th>
                <th>{{ asso[0][1]}}</th>
                <th></th>
                <th>
                    <form method="post" action="/del">
                        <input value={{asso[0][0]}} name="id_rqt" hidden></input>
                        <button type="submit">XA</button>
                    </form>
                </th>
            </tr>
        {% endfor %}
    </table>

        
<br><br>
        
        <button type="submit">Associer</button>
    </form>
    

    <footer><form method="post" action="/">
        <button type="submit">Accueil</button>
    </form></footer>
</body></html>