<html><head>
    <title>POC supervision BCCB</title>
</head>
<body>
    <h1>Information de l'équipement</h1>    

        <form method="post" action="/modify_equipement_BDD">
        <input name="id" value = {{id_eq}} hidden></input>
        <input name="champ" value="nom"></input>
        Nom d'équipement: <input name="valeure" type="text" value="{{nom}}" required></input>
        <button type="submit">Modifier l'information</button>
        </form>
        
        <form method="post" action="/modify_equipement_BDD">
        <input name="id" value = {{id_eq}} hidden></input>
        <input name="champ" value="adresse_ip"></input>
        Adresse IP: <input name="valeure" type="text" value="{{IP}}" required></input>
        <button type="submit">Modifier l'information</button>
        </form>
        
        <form method="post" action="/modify_equipement_BDD">
        <input name="id" value = {{id_eq}} hidden></input>
        <input name="champ" value="communaute "></input>
        Communauté: <input name="valeure" type="text" value="{{communaute}}" required></input>
        <button type="submit">Modifier l'information</button>
        </form>
        
        Description: <input name="description" type="text"></input><br>

        Supervision: 
        <form method="post" action="/modify_equipement_BDD">
        <input name="champ" value="etat_supervision"></input> 
        <input name="id" value = {{id_eq}} hidden></input>
        <select name="valeure">
            <option value="1">Oui</option>
            <option value="0">Non</option>
        </select>
        <button type="submit">Modifier l'information</button>
        </form>
        
        <!--Modèle <input name="modèle" type="text" value="a récupérer dans bdd plus tard"></input><br>-->
        <form method="post" action="/modify_equipement_BDD">
        <input name="champ" value="id_modele"></input>
        <input name="id" value = {{id_eq}} hidden></input>
        Modèles:       
        <select name="valeure">
            {% for mods in mod %}        
                <option value="{{ mods[0] }}">{{ mods[1] }}</option>
            {% endfor %}
        </select>
        <button type="submit">Modifier l'information</button>
        </form>


    

    <footer>
    <form method="post" action="/">
        <button type="submit">Accueil</button>
    </form>
    </footer>
</body></html>